<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDFArxZUkPPbf_CIlwk_MXqh3-fCAqzTq8</string>
	<key>GCM_SENDER_ID</key>
	<string>282877548076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.novamindnyc.clarity-loop-frontend</string>
	<key>PROJECT_ID</key>
	<string>clarity-loop-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>clarity-loop-backend.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282877548076:ios:c60e65bb51d1618cb0a389</string>
</dict>
</plist>